@charset "UTF-8";
/* CSS Document */

.btn {
  background: #3463d9;
  background-image: -webkit-linear-gradient(top, #3463d9, #a836a8);
  background-image: -moz-linear-gradient(top, #3463d9, #a836a8);
  background-image: -ms-linear-gradient(top, #3463d9, #a836a8);
  background-image: -o-linear-gradient(top, #3463d9, #a836a8);
  background-image: linear-gradient(to bottom, #3463d9, #a836a8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 7px 6px 5px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  padding: 7px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d2f50a;
  background-image: -webkit-linear-gradient(top, #d2f50a, #de1b1b);
  background-image: -moz-linear-gradient(top, #d2f50a, #de1b1b);
  background-image: -ms-linear-gradient(top, #d2f50a, #de1b1b);
  background-image: -o-linear-gradient(top, #d2f50a, #de1b1b);
  background-image: linear-gradient(to bottom, #d2f50a, #de1b1b);
  text-decoration: none;
}